---
import DownloadCV from "../components/DownloadCV.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Contact from "../sections/Contact.astro";
import Experience from "../sections/Experience.astro";
import FirstView from "../sections/FirstView.astro";
import Projects from "../sections/Projects.astro";
import Skills from "../sections/Skills.astro";
import WhoAmI from "../sections/WhoAmI.astro";
---

<Layout title="Facundo Toloza | Frontend Developer">
  <Header />
  <main id="sectionsContainer">
    <!--Title with name-->
    <FirstView />

    <WhoAmI />

    <Skills />

    <Projects />

    <Experience />

    <Contact />

    <DownloadCV />
  </main>
</Layout>



