<p class="h-fit text-sm px-2">  
    <b>Key Highlights:</b>
    <ul class="flex flex-col gap-2 mt-2 text-sm px-2 list-disc">
        <li><b class="text-sm">Device Management:</b> Implemented a user-friendly interface to manage over 400 different types of devices, making it easy for employees to access and understand the status and details of each device in the repair process.</li>
        <li><b class="text-sm">Quoting System:</b> Integrated a quoting system to streamline the process for employees to generate accurate quotes for repair services and replacements, ensuring transparency and consistency in pricing.</li>
        <li><b class="text-sm">Data Editor:</b> Developed a robust data editor module that allowed authorized users to edit prices and various properties across the system, facilitating quick updates and adjustments as needed.</li>
        <li><b class="text-sm">API Connection:</b> Established a seamless API connection to retrieve daily USD prices, enabling the system to automatically update currency values and ensure accurate pricing for services and products.</li>
    </ul>
</p>
