<p class="h-fit text-sm px-2">
    <b>Key Highlights:</b>
    <ul class="flex flex-col gap-2 mt-2 text-sm px-2 list-disc">
        <li><b class="text-sm">Group Expense Management App: </b> A web application that simplifies group payments for friends sharing expenses during social outings. Users can create rooms, invite others, track individual contributions, and split costs effortlessly.</li>
        <li><b class="text-sm">Tech stack:</b> Built using Next.js for the frontend, providing a fast and interactive user experience. The backend is powered by Express.js, with real-time features supported by WebSockets, enabling live updates and seamless communication within user rooms.</li>
        <li><b class="text-sm">Real-Time Collaboration:</b>The app's core complexity lies in managing real-time data synchronization between users, ensuring all participants in a room see payment updates, notifications, and room activities instantly, without page refreshes.</li>
        <li><b class="text-sm">Scalability & Performance:</b> Architected to handle multiple users in real-time sessions while ensuring performance remains smooth. Efficient state management and data handling techniques are employed to minimize latency and optimize user experience.</li>
    </ul>
</p>