<p class="h-fit text-sm px-2">
    <b>Key Highlights:</b>
    <ul class="flex flex-col gap-2 mt-2 text-sm px-2">
        <li><b class="text-sm">Event-Centric Platform:</b> Designed and launched a specialized ticket sales platform exclusively for the musical event, providing users with a seamless and intuitive interface to purchase tickets.</li>
        <li><b class="text-sm">User Engagement:</b> Over 200 users utilized the ticket sales system to secure their tickets for the event, showcasing the system's effectiveness in engaging and catering to a diverse audience.</li>
        <li><b class="text-sm">QR Code Generation:</b> Implemented a QR code generation feature that generated unique QR codes for each ticket purchased, enabling smooth and secure entry to the event venue.</li>
        <li><b class="text-sm">Collaborative Development:</b> Worked collaboratively with a team of talented individuals to developers and deploy the ticket sales system, leveraging our collective expertise to ensure its success.</li>
    </ul>
</p>