<p class="h-fit text-sm px-1">  
    <b>Key Highlights:</b>
    <ul class="flex flex-col gap-2 mt-2 text-sm px-2 list-disc">
        <li><b class="text-sm">Customized Development:</b> Tailored the platform to meet the unique requirements of the furniture store, ensuring seamless integration with their existing systems and workflows.</li>
        <li><b class="text-sm">WhatsApp Sales Integration:</b> Implemented a WhatsApp solution for sales management, providing the client with an efficient way to connect with customers and drive sales.</li>
        <li><b class="text-sm">Responsive Design:</b> Developed a responsive and user-friendly design, enabling customers to browse and purchase furniture items easily across various devices.</li>
        <li><b class="text-sm">Optimized Performance:</b> Optimized the performance of the platform to ensure fast loading times and smooth user experience, even during peak traffic periods.</li>
    </ul>
</p>