<p class="h-fit text-sm px-2 "> 
    <b>Key Highlights:</b>
        <ul class="flex flex-col gap-2 mt-2 text-sm px-2 list-disc">
            <li><b class="text-sm">Modularity and Reusability:</b> Designed for easy integration with various e-commerce platforms, ensuring scalability and flexibility.</li>
            <li><b class="text-sm">Interconnected Repositories with GitHub Actions:</b> Implemented interconnected repositories with GitHub Actions to facilitate seamless updates across all client admin panels, ensuring consistency and efficiency.</li>
            <li><b class="text-sm">Business Logic:</b> Mapped out detailed business workflows to implement tailored functionalities, enhancing operational efficiency.</li>
            <li><b class="text-sm">Agile Development:</b> Embraced SCRUM for dynamic iteration and rapid feature implementation, delivering a robust solution on time.</li>
        </ul>
</p>