<nav class="fixed top-1/2 right-8 z-[999]" id="navButtons">
    <ul class="flex flex-col gap-4">
        <button class="rotate-45 bg-accent h-2 w-2 " data-section="1"></button>
        <button class="rotate-45 bg-primary h-2 w-2" data-section="2"></button>
        <button class="rotate-45 bg-primary h-2 w-2" data-section="3"></button>
        <button class="rotate-45 bg-primary h-2 w-2" data-section="4"></button>
        <button class="rotate-45 bg-primary h-2 w-2" data-section="5"></button>
        <button class="rotate-45 bg-primary h-2 w-2" data-section="6"></button>
    </ul>
</nav>