<header class="w-full h-20 lg:hidden fixed flex justify-end p-4 z-20">
  <div
    id="menu-btn"
    class="flex flex-col gap-2 items-end cursor-pointer lg:hidden"
  >
    <span class="bg-accent w-6 h-2"></span>
    <span class="bg-accent w-10 h-2"></span>
  </div>
</header>

<style>
  .active > span {
    background-color: #000;
  }

  .active > span:nth-child(1) {
    animation: animateBtnLine1 .3s forwards;
  }

  .active > span:nth-child(2) {
    animation: animateBtnLine2 .3s forwards;
  }

  @keyframes animateBtnLine1 {
    0% {
      width: 1.5rem;
      transform: rotate(0deg);
    }
    100% {
      width: 2.5rem;
      transform: rotate(-45deg) translateY(10px) translateX(-15px);
    }
  }

  @keyframes animateBtnLine2 {
    0% {
      width: 1.5rem;
      transform: rotate(0deg);
    }
    100% {
      width: 2.5rem;
      transform: rotate(45deg) translateY(3px) translateX(-1px);
    }
  }
</style>

<script>
  const menuBtn = document.getElementById("menu-btn");
  const nav = document.getElementById("nav");
  const navLink = document.querySelectorAll(".nav-link");

  navLink.forEach((link) => {
    link.addEventListener("click", () => {
        nav?.classList.remove("active");
        menuBtn?.classList.remove("active");
    });
  });
  menuBtn?.addEventListener("click", () => {
    if (menuBtn?.classList.contains("active")) {
      nav?.classList.remove("active");
      menuBtn.classList.remove("active");
    } else {
      nav?.classList.add("active");
      menuBtn.classList.add("active");
    }
  });
</script>
