---
import Button from '../components/Button.astro'
import Arrow from '../icons/arrow.astro'

---

<section id="experience" class="section  w-full flex flex-col items-center px-2 gap-12 justify-center" data-section="5">
  <h2 class="text-3xl font-bold ">Experience</h2>

  <div class="flex flex-col  gap-2 items-center">
    <img src="/Todev.png" alt="ToDev logotype" class="t" />
    <h2 class="font-bold ">ToDev Agency</h2>
    <h4 class="font-bold text-secondary ">Owner</h4>
    <h4 class="font-bold text-secondary ">2023 - Present</h4>
    <p class="text-center max-w-[400px] xt-sm">
      This is my digital agency. We specialize in creating software to solve problems. Currently,
      our services include:
      <br />
      <ul class="flex flex-col gap-2 list-disc text-center text-sm">
        <li class="">E-commerce Apps</li>
        <li class="">CRM Systems</li>
        <li class="">Web Applications</li>
      </ul>
    </p>
  </div>

  <Arrow />

  <h3 class="text-xl font-bold text-center">Ready to expand my horizon! :)</h3>
  <a href="#contact" class="px-12 py-4 bg-accent text-black hover:scale-110 transition-all duration-500 font-bold cursor-pointer">Hire me!</a>
</section>
