---
import SkillBox from "../components/SkillBox.astro";
---

<section
  id="skills"
  class="w-full flex flex-col justify-center items-center gap-12 px-4 py-24"
>
  <h2 class="text-3xl font-bold   lg:mt-0">Skills</h2>
  <div
    class="flex flex-col items-center w-full lg:flex-row justify-center"
  >
    <SkillBox section="main" title="Main Skills" sx="py-[67.2px]" />

    <div
      class="flex flex-col items-center gap-9 mt-8 lg:mt-0 px-6 w-full lg:w-fit"
    >
      <SkillBox section="learning" title="Currently learning" sx="py-4" />

      <SkillBox section="basics" title="Basics" sx="py-4 " />
    </div>
  </div>
</section>
