<section
  id="who-am-i"
  class="section w-full flex flex-col justify-center items-center gap-4 px-4 py-24"
  data-section="2"
>
  <div class="flex flex-col items-center gap-4">
    <h2 class="font-bold text-3xl">Who Am I?</h2>
    <p class="text-center max-w-[1000px] tracking-wide leading-6 md:text-lg">
      Hi there! I’m Facu, a frontend developer with over three years of
      experience. Passionate about creating seamless user experiences, I
      specialize in crafting elegant and responsive web interfaces. With a keen
      eye for detail and a commitment to excellence, I thrive on collaborating
      with teams to deliver exceptional projects. Let's connect and bring your
      ideas to life!
    </p>
  </div>
  <a
    href="#contact"
    class="px-12 py-4 bg-accent text-black hover:scale-110 transition-transform duration-100 font-bold cursor-pointer"
    >Let's Connect!</a
  >
</section>

<style>
 
  
 
  h2{
    
  }
</style>
